@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: glory;
}
html, body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(253, 252, 195);
}
#nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
#nav-p1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h3 {
    border: 1.5px solid black;
    border-radius: 50px;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 500;
}
#nav i {
    border: 1.5px solid black;
    border-radius: 50px;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 550;
}
#nav-p2 #logo{
    height: 50px;
    width: 50px;
    top: 8%;
    left: 42%;
}
#nav h1 {
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
}
#nav button{
    border: 1.5px solid black;
    border-radius: 50px;
    padding: 7px 12px;
    font-size: 16px;
    font-weight: 500;
}
#nav #btn2{
    border: none;
    color: white;
    background-color: orangered;
}
#main>h1{
    font-size: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid black;
}
img {
    height: 350px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    object-fit: cover;
}
#img2{
    transform: translate(-50%, -50%) rotate(-30deg);
}
#img3{
    transform: translate(-50%, -50%) rotate(-20deg);
}
#img4{
    transform: translate(-50%, -50%) rotate(-10deg);
}
#bottom {
    height: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 34%;
    padding-bottom: 0%;
    padding-right: 40px;
}
#bottomcenter i{
    border: 2px solid black;
    border-radius: 40px;
    font-size: 25px;
    padding: 10px 15px;
    margin-left: 100%;
}
#social>i{
    font-size: 25px;
    margin-left: 20%;
}
#bottom  #head2{
    font-size: 22px;
    font-weight: 500;
}
#bottom #head3{
    font-size: 22px;
    font-weight: 500;
}
